fastapi
uvicorn[standard]
pymongo
motor
dnspython
python-dotenv
pydantic
pydantic-settings
email-validator
python-multipart
passlib
bcrypt
python-jose[cryptography]
PyJWT
cryptography
requests
httpx
aiofiles
pandas
openpyxl
reportlab
qrcode
python-barcode
certifi